extends layout

//- var tableHead = new Array("課題名", "提出状況", "締切");
//- var data = new Array([0, "function", "未提出", "14/10/11"], [1, "sort", "未提出", "14/10/04"], [2, "fib", "提出済", "14/10/04"]);

block header
  +css('/css/index.css')

block loadFiles
    +js('/js/mypage.js')

block content
  .site-wrapper(style="padding-top: 3em;")
    .site-wrapper-inner-center-off
      .cover-container
        include topbar
        .inner.cover.shadow-off
          .inner
            .row
              .col-sm-3.block-center-off
                a.btn.btn-success(href="/editor") 空のファイルを作成する
              .col-sm-9
                table.table.table-hover
                  thead
                    tr
                    - for(var i = 0; i < tableHead.length; i++){
                      th #{tableHead[i]}
                    - }
                  tbody
                    - for(var i = 0; i < data.length; i++){
                    tr
                    -for(var j = 1; j < data[i].length; j++){
                      th.subjectInList(id="#{data[i][0]}") #{data[i][j]}
                    - }
                    - }
        .mastfoot
          .inner
