button.btn.btn-default.sidebar-btn-right
  span.glyphicon.glyphicon-chevron-left.btnglyph
.sidebar-right
    h1 課題名
    p HelloWorldを作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。
    p HelloWorldを作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。
    p HelloWorldを作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。
    p HelloWorldを作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。
    p HelloWorldを作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。
    p HelloWorldを作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。
    p HelloWorldを作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。
    p HelloWorldを作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。
    p HelloWorldを作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。作成してください。
