button.btn.btn-default.sidebar-btn
  span.glyphicon.glyphicon-chevron-right.btnglyph
.sidebar
  .file-edit-view
    p 選択中のフォルダにフォルダを追加
    .form-inline
      input.form-control.foldeer-name-input(placeholder="Enter FolderName")
      button.btn.btn-sm.btn-success.add-folder-btn
        span.glyphicon.glyphicon-plus

    p 選択中のフォルダにファイルを追加
    .form-inline
      input.form-control.file-name-input(placeholder="Enter FileName")
      button.btn.btn-sm.btn-success.add-file-btn
        span.glyphicon.glyphicon-plus

  .file-view#sidebar
