button.btn.btn-default.sidebar-btn
  span.glyphicon.glyphicon-chevron-right.btnglyph
.sidebar
  .space(style="padding: 25px")
  .file-edit-view
    p
      span 選択中のフォルダにフォルダを追加&nbsp;
      button#add-folder-btn.btn.btn-xs.btn-success
        span.glyphicon.glyphicon-plus
    p
      span 選択中のフォルダにファイルを追加&nbsp;
      button#add-file-btn.btn.btn-xs.btn-success
        span.glyphicon.glyphicon-plus

  .file-view#sidebar
