extends layout

block header
  +css('/css/addSubject.css')

block loadFiles
  script('/js/index.js')

block content
  .container
    h1 課題製作画面
    form(role="form", action="/subject/new", method="POST")
      .form-group
        label.control-label(for="inputNumber") 課題名
        input.form-control(type="text", placeholder="", name="name", id="name", required autofocus)
      .form-group
        label.control-label(for="inputName") URL
        input.form-control(type="text", placeholder="", name="url", id="url", required)
      .form-group
        label.control-label(for="inputName") 提出期限
        input.form-control(type="date", placeholder="", name="limit", id="limit", required)
      .form-group
        label.control-label(for="inputName") 本文
        p
          textarea#editor(rows="20", name="content", style="width:100%;")
      .form-group
        button.btn.btn-primary.pull-right(type="submit") 作成
