extends layout

block header
  +css('/css/index.css')
  include editor_css

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        //.masthead.clearfix
        //  .inner
        //    h3.masthead-brand
        //     a(href="#") Aspen
        //    ul.nav.masthead-nav
        //      li
        //        a(href="/login/github") ログイン
        .inner.cover
          h1.cover-heading Aspen
          p.lead
            a(href="/login/github").btn.btn-signin ログイン
          .demo-editor
            include editor
        .mastfoot
          .inner
